<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2 style="text-align: center; white-space: nowrap;">ATIVE SUA CONTA !</h2>
    <div style="font-family: Arial, sans-serif; font-size: 10pt; width: 90%; margin: 20px auto;">
        <div style="margin: 30px; background-color: #ffffff; border: 1px solid black; opacity: 0.8; padding: 20px; filter: alpha(opacity=60);">
            <img src="https://uploaddeimagens.com.br/images/004/489/659/original/logo3.png?1685563459" alt="Logo" style="display: block; width: 100%; margin: auto; margin-bottom: 5%;">
            <div>
                <h3 style="padding-top: 4%; text-align: left;">Olá, {{ name.title() }}.</h3>
                <h4>Seu código para redefinir sua senha:</h4>
                <h3 style="padding-top: 4%; text-align: center;">{{ token }}</h3><br>
                <p style="padding-top: 4%;"><i>Este é um e-mail automático. Não responda a este e-mail.</i></p>
            </div>
        </div>k
        <div style="padding-left: 40px; padding-right: 40px;">
            Caso você não tenha solicitado redifição de senha,  nos contate através de mensagem direta no aplicativo ou e-mail para <a href="mailto:contato@quicklink.com.br">contato@quicklink.com.br</a>.</p>
            <p>© QuickLink 2023</p>
        </div>
    </div>
</body>
</html>





